<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>S3 Test</title>
</head>
<body>
    <h1>
        S3 Storage test
    </h1>
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>    
    <ul>
    {% for p in photos reversed %}
        <li>
            <img src="{{ p.image.url }}" alt="" width="300">
            {{ p.created }} {{ p.name }}
        </li>
    {% endfor %}
    </ul>
        
</body>
</html>